# Data files
*.txt
*.csv
*.xlsx
*.xls
*.parquet
*.feather
*.dta
*.sav
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output files
Output/

# docs
*.pdf

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy
